#about {
    z-index: 0;
    position: relative;
}

#about article {
    gap: 4rem;
}

#contacts {
    display: grid;
}

#mail:before {
    content: "M:";
    font-weight: 500;
    color: var(--active);
    padding-right: .5rem;
}

#tel:before {
    content: "T:";
    font-weight: 500;
    color: var(--active);
    padding-right: .5rem;
}

#in:before {
    content: "In:";
    font-weight: 500;
    color: var(--active);
    padding-right: .5rem;
}

#be:before {
    content: "Be:";
    font-weight: 500;
    color: var(--dark);
    padding-right: .5rem;
}

#about_info {
    width: 100%;
    place-content: space-between;
}

.info_item {
    display: grid;
}

.info_header p:before {
    content: "— ";
    color: var(--active);
    margin: 0;
}

.info_data p {
    display: grid;
}

.role {
    font-weight: 500;
}

.dates {
    opacity: .3;
    font-style: italic;
}

.details {
    margin-top: .5rem;
}

#links a {
    display: block;
}

#links a:before {
    content: "— ";
    color: var(--active);
    margin: 0;
}

#profile_photo {
    padding-top: 100%;
    background-image: url(/assets/media/arcadiykulchinskiy_profile.jpg);
    background-size: cover;
    border-radius: 50%;
}

@media screen and (max-width: 940px) {}