.info_item {
    display: grid;
}

.info_data p {
    display: grid;
}

.role {
    font-weight: 500;
    color: var(--active);
}

.dates {
    opacity: .3;
    font-style: italic;
}

.details {
    margin-top: .5rem;
}

.info_header {
    margin-bottom: 2rem;
}

#featured img {
    filter: grayscale(1);
    opacity: .4;
    width: 120px;
    transition: var(--anim);
}

#featured img:hover,
#featured img:focus {
    opacity: 1;
    filter: grayscale(0);
}