#about {
    z-index: 0;
    position: relative;
}

#contacts {
    padding: 2rem 0rem;
}

footer {
    background-color: var(--active);
    color: var(--dark);
    box-shadow: inset 0 0 10px #00000030;
    width: 100vw;
    padding: 1rem 2rem;
    position: relative;
    bottom: 0;
    z-index: 100;
}

#mail:before {
    content: "M:";
    font-weight: 500;
    color: var(--dark);
    padding-right: .5rem;
}

#tel:before {
    content: "T:";
    font-weight: 500;
    color: var(--dark);
    padding-right: .5rem;
}

#in:before {
    content: "In:";
    font-weight: 500;
    color: var(--dark);
    padding-right: .5rem;
}

#be:before {
    content: "Be:";
    font-weight: 500;
    color: var(--dark);
    padding-right: .5rem;
}

@media screen and (max-width: 940px) {}