a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#toTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    display: none;
    opacity: 0;
    width: 50px;
    height: 50px;
    background: var(--white);
    transition: var(--anim);
}

#next {
    position: absolute;
    bottom: 5rem;
    right: 50%;
    z-index: 50;
    width: 50px;
    height: 50px;
    background: var(--active);
    transition: var(--anim);
}

#back,
#work-description {
    position: sticky;
    top: 6rem;
    height: fit-content;
    background: var(--white);
}

.btn-primary {
    align-items: center;
    justify-content: center;
    color: var(--dark);
    border-radius: var(--btn-corners);
    box-shadow: var(--neumorph);
    transition: var(--anim);
    display: flex;
    width: fit-content;
    padding: 0.8rem 1rem 0.7rem 1rem;
}

.btn-primary:hover {
    box-shadow: var(--neumorph-hover)
}

.btn-primary-d {
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: var(--btn-corners);
    box-shadow: var(--neumorph-d);
    background: var(--dark);
    transition: var(--anim);
    display: flex;
    width: fit-content;
    padding: 0.8rem 1rem 0.7rem 1rem;
}

.btn-primary-d:hover {
    box-shadow: var(--neumorph-d-hover);
    opacity: .8;
}

.cta {
    position: relative;
    transition: var(--anim);
    font-weight: 400;
}

.cta:hover,
.cta:focus {
    opacity: .7;
}

.links:hover,
.links:focus,
.links a:hover,
.links a:focus {
    opacity: .7;
}

.tabs .dropdown-container {
    display: flex;
    gap: 1rem;
}

.tab {
    position: relative;
    transition: var(--anim);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--grey);
    opacity: .5;
}

.tab:hover,
.tab:focus {
    opacity: 1;
}

.cta::before,
.tab::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.cta::before {
    background-color: var(--active);
}

.cta.active::before {
    display: none;
}

.tab::before {
    background-color: var(--grey);
}

@media (hover: hover) and (pointer: fine) {
    .cta:hover::before,
    .cta:focus::before,
    .tab:hover::before,
    .tab:focus::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.tab-active,
.active {
    color: var(--active) !important;
    fill: var(--active) !important;
}

.tab.tab-active,
.cta.active {
    cursor: default;
    opacity: 1 !important;
}

.tab-active::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--active);
}

.arrow:after {
    content: "→";
    margin-left: .5rem;
    line-height: 0%;
    font-size: .8rem;
}

.neumorph {
    box-shadow: var(--neumorph);
    background: var(--white);
    padding: 3px;
}

.neumorph-d {
    box-shadow: var(--neumorph-d);
    background: var(--dark);
    padding: 3px;
}


/*



.active {
    color: var(--active) !important;
    fill: var(--active) !important;
    cursor: default;
}

.tab-active {
    background: var(--active);
    cursor: default;
}

.tabs {
    display: flex;
    margin-bottom: 2rem;
}

.tabs :first-child {
    border-radius: 5px 0px 0px 5px;
    border-left: 1px solid var(--active);
}

.tabs :last-child {
    border-radius: 0px 5px 5px 0px;
    border-right: 1px solid var(--active);
}

.tab {
    border-top: 1px solid var(--active);
    border-bottom: 1px solid var(--active);
    padding: 0.4rem 1rem;
}

.btn-primary {
    background-color: var(--active);
    color: var(--dark);
    padding: 0.5rem 2rem;
    border-radius: 20px;
    border: 1px solid;
} */