a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#toTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    display: none;
    opacity: 0;
    width: 50px;
    height: 50px;
    background: var(--white);
    transition: var(--anim);
}

#below-btn {
    text-align: center;
    width: 50px;
    height: 50px;
}

.reveal #more:after {
    content: "See full profile";
    transition: var(--anim);
    color: var(--grey);
    font-weight: 400;
}

.expanded #more:after {
    content: "See resumed profile";
}

#back,
#work-description {
    position: sticky;
    top: 6rem;
    background: var(--white);
}

.btn-primary {
    align-items: center;
    justify-content: center;
    color: var(--dark);
    border-radius: var(--btn-corners);
    box-shadow: var(--neumorph);
    transition: var(--anim);
    display: flex;
    width: fit-content;
    font-weight: 500;
    padding: 0.7rem 1.3rem 0.5rem 1.3rem;
    font-weight: 500;
    height: 50px;
    font-size: .9rem;
}

.btn-primary:hover {
    box-shadow: var(--neumorph-hover)
}

.btn-primary-d {
    align-items: center;
    justify-content: center;
    color: var(--bright);
    border-radius: var(--btn-corners);
    box-shadow: var(--neumorph-d);
    background: var(--dark);
    transition: var(--anim);
    display: flex;
    width: fit-content;
    padding: 0.8rem 1rem 0.7rem 1rem;
}

.btn-primary-d:hover {
    box-shadow: var(--neumorph-d-hover);
    opacity: .8;
}

.cta {
    position: relative;
    transition: var(--anim);
    font-weight: 400;
}

.cta:hover,
.cta:focus {
    opacity: .7;
}

.links:hover,
.links:focus,
.links a:hover,
.links a:focus {
    opacity: .7;
}

.tabs-holder {
    box-shadow: var(--neumorph-inv);
    width: fit-content;
    display: flex;
    border-radius: var(--btn-corners);
    padding: .5rem;
    margin: 0 auto;
    place-items: center;
}

.tab:first-child {
    border-radius: 25px 5px 5px 25px;
}

.tab {
    position: relative;
    transition: var(--anim);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--grey);
    border-radius: 5px;
    padding: .2rem 1rem;
}

.tab:hover {
    background: #ececec;
    color: var(--dark);
}

.tab-active {
    background: var(--active) !important;
    color: var(--white) !important;
    cursor: default;
    font-weight: 600;
}

.cta::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.cta::before {
    background-color: var(--active);
}

.cta.active::before {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    .cta:hover::before,
    .cta:focus::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.active {
    color: var(--active) !important;
    fill: var(--active) !important;
}

.cta.active {
    cursor: default;
    opacity: 1 !important;
}

.arrow:after {
    content: "→";
    margin-left: .5rem;
    line-height: 0%;
    font-size: .8rem;
}

#back {
    color: var(--grey);
}

#back:before {
    /* content: "‹"; */
    content: "←";
    margin-right: .5rem;
    margin-top: 0.25rem;
    line-height: 0%;
    font-size: 1rem;
}

.neumorph {
    box-shadow: var(--neumorph);
    background: var(--white);
}

.neumorph-d {
    box-shadow: var(--neumorph-d);
    background: var(--dark);
}

i {
    color: var(--bright);
    transition: .3s;
    padding: .7rem;
    border-radius: var(--btn-corners);
}

a i:hover {
    opacity: .8;
    background-color: #00000030;
}

label[for="mtabs"] {
    box-shadow: var(--neumorph);
    width: 50px;
    height: 50px;
    display: flex;
    place-items: center;
    justify-content: center;
    border-radius: var(--btn-corners);
}

label[for="mtabs"]:hover {
    box-shadow: var(--neumorph-hover);
}

.dropdown-list {
    position: absolute;
    z-index: 99;
    background: var(--white);
    margin-top: 5rem;
    flex-direction: column;
    box-shadow: var(--neumorph);
    padding-inline-end: 0px;
}

.dropdown-list li {
    padding: .1rem;
}

.dropdown-list a {
    padding: .5rem;
}