:root {
    --active: #ffbe00;
    --white: #ffffff;
    --dark: #111;
    --cta: #ffbe00;
}

.bg_bright {
    background-color: var(--white);
    color: var(--dark);
}

.bg_dark {
    background-color: var(--dark);
    color: var(--white);
}

.dark {
    color: var(--dark);
    fill: var(--dark);
}

.white {
    color: var(--white);
    fill: var(--white);
}

.cta {
    color: var(--cta) !important;
    fill: var(--cta);
}

.outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--active);
    color: #00000000;
}