:root {
    --active: #11de93;
    --white: #f3f3f3;
    --dark: #0c2838;
    --grey: #aaaaaa;
    --corners: 10px;
    --anim: ease-in-out .3s;
    --links: 400;
}

.bg_bright {
    background-color: var(--white);
    color: var(--dark);
}

.bg_dark {
    background-color: var(--dark);
    color: var(--white);
}

.dark {
    color: var(--dark);
    fill: var(--dark);
}

.white {
    color: var(--white);
    fill: var(--white);
}

.outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--active);
    color: #00000000;
}