/* START SEARCH */

.sub-header {
    justify-content: space-between;
    padding: 0.5rem 0rem;
}

#search-item {
    display: block;
    outline: none;
    border: 0px;
    background: none;
    font-size: 1rem;
    opacity: .5;
    color: #495057;
    width: 80px;
    -webkit-transition: var(--anim);
    -o-transition: var(--anim);
    transition: var(--anim);
}

#search-item:hover {
    outline: none;
    opacity: 1;
}

#search-item:focus {
    width: 200px;
}


/* END SEARCH */


/* START DIRECTORY */

.section {
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    gap: .5rem;
}

.card {
    width: calc(33.33333% - 0.4rem);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #dddddd;
    border-radius: var(--int-corners);
}

.card:after {
    content: '';
    display: block;
    padding-bottom: 20%;
}

.card img {
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    transition: var(--anim);
    object-fit: cover;
}

.card_info {
    position: absolute;
    bottom: 0;
    background: #000000;
    background: linear-gradient(0deg, #00000060 0%, #00000000 100%);
    width: 100%;
    color: white;
    padding: 1.5rem;
    transition: var(--anim);
    opacity: 0;
    line-height: 1.6;
}

.card:hover .card_info {
    opacity: 1;
}

.card:hover img,
.card:focus img {
    transform: scale(1);
    filter: brightness(0.8);
}

.work-item #work-content {
    align-content: flex-start;
}

.work-item #work-content .half {
    max-width: calc(50% - .5rem);
}

.work-item #work-content p {
    margin: 2rem 0;
}

.work-item #work-content img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--corners)
}

#technical-info {
    position: sticky;
    top: 6.5rem;
    height: fit-content;
}


/* END DIRECTORY */


/*hide the inputs/checkmarks and submenu*/

input,
ul.dropdown-list {
    display: none;
}


/*position the label*/

label {
    position: relative;
    display: block;
    cursor: pointer;
}


/*show the submenu when input is checked*/

input:checked~ul.dropdown-list {
    display: flex;
}