.logo {
    min-width: 200px;
    max-width: 250px;
    fill: var(--active);
    transition-duration: .5s;
}

.logo:hover,
.logo:focus {
    opacity: .7;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    display: flex;
    /* border: 1px solid #ffffff40; */
    color: var(--dark);
    justify-content: space-between;
    padding: 2rem;
}

.menu {
    white-space: nowrap;
}

.menu a {
    text-transform: uppercase;
    margin: 0rem .7rem;
    color: inherit;
    font-size: .9rem;
    transition: .3s;
    font-weight: 500;
}

.mobilemenuContainer a.active:before,
.menu a.active:before {
    content: "→ ";
}

.blinder {
    background: #101824f0;
    backdrop-filter: blur(4px);
}


/* MOBILE MENU */

#burger_icon rect {
    fill: var(--active);
    transition: .5s;
}

#burger_icon:hover rect,
#burger_icon:focus rect,
#burger_icon:active rect {
    opacity: .8;
}

.mobilemenu {
    background-color: #ffffffee;
    position: absolute;
    right: 0;
    top: 0vh;
    display: none;
    backdrop-filter: blur(5px);
    transition-duration: 1s;
}

.mobilemenu #mobilemenuItems {
    display: none;
}

.mobilemenu .mobilemenuItems a {
    color: var(--dark);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    transition: .5s;
}

.mobilemenu .mobilemenuItems a:hover,
.mobilemenu .mobilemenuItems a:focus,
.mobilemenu .mobilemenuItems a:active {
    color: var(--active);
}

.mobilemenu .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.9rem;
}

.mobilemenu svg {
    width: 20px;
    height: 20px;
}

.mobilemenuContainer {
    padding: 80px 40px;
    height: 100vh;
    min-width: 101vw
}

@media screen and (max-width: 940px) {
    .menu {
        display: none;
    }
    .mobilemenu {
        display: block;
    }
}