/* START LOGO */

#logo {
    display: flex;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 8px;
    font-weight: 600;
    padding-top: 5px;
}

#logo:after {
    content: "Kulchinskiy.";
    font-weight: 600;
}

#logo.portfolio:after {
    content: "My work.";
}

#logo.about:after {
    content: "Let's meet."
}

.logo {
    min-width: 200px;
    max-width: 250px;
    fill: var(--white);
    color: var(--white);
    transition-duration: var(--anim);
    cursor: default;
}


/* END LOGO */

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    display: flex;
    /* border: 1px solid #ffffff40; */
    color: var(--white);
    justify-content: space-between;
    padding: 2rem 2rem;
    background: #ffffff00;
}

.menu {
    white-space: nowrap;
}

.menu a {
    text-transform: uppercase;
    color: inherit;
    font-size: .9rem;
    transition: var(--anim);
    font-weight: 500;
}

.blinder {
    background: var(--white);
}