/* START LOGO */

#logo {
    display: flex;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 8px;
    font-weight: 600;
}

#logo:after {
    font-weight: 600;
}

#logo.landing:after {
    content: "Kulchinskiy.";
}

#logo.portfolio:after {
    content: "My work.";
}

#logo.about:after {
    content: "Let's meet."
}

.logo {
    min-width: 200px;
    max-width: 250px;
    fill: var(--white);
    transition-duration: var(--anim);
    cursor: default;
}


/* END LOGO */

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    display: flex;
    /* border: 1px solid #ffffff40; */
    color: var(--white);
    justify-content: space-between;
    padding: 2rem;
    background: #ffffff00;
    transition: var(--anim);
}

.menu {
    white-space: nowrap;
}

.menu a {
    text-transform: uppercase;
    margin: 0rem .7rem;
    color: inherit;
    font-size: .9rem;
    transition: var(--anim);
    font-weight: 500;
}

.blinder {
    background: #ffffffee;
    backdrop-filter: blur(5px);
}


/* MOBILE MENU */

#burger_icon rect {
    fill: var(--active);
    transition: var(--anim);
}

#burger_icon:hover rect,
#burger_icon:focus rect,
#burger_icon:active rect {
    opacity: .8;
}

.mobilemenu {
    background-color: #ffffffee;
    position: absolute;
    right: 0;
    top: 0vh;
    display: none;
    backdrop-filter: blur(5px);
    transition-duration: var(--anim);
}

.mobilemenu #mobilemenuItems {
    display: none;
}

.mobilemenu .mobilemenuItems a {
    color: var(--dark);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    transition: var(--anim);
}

.mobilemenu .mobilemenuItems a:hover,
.mobilemenu .mobilemenuItems a:focus,
.mobilemenu .mobilemenuItems a:active {
    color: var(--active);
}

.mobilemenu .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.9rem;
}

.mobilemenu svg {
    width: 20px;
    height: 20px;
}

.mobilemenuContainer {
    padding: 80px 40px;
    height: 100vh;
    min-width: 101vw
}

@media screen and (max-width: 940px) {
    .menu {
        display: none;
    }
    .mobilemenu {
        display: block;
    }
}