#landing {
    min-height: 550px;
}

#hero {
    max-width: 1000px;
    z-index: 10;
}

.typeText,
.textAbove,
#landing p {
    color: var(--bright);
}

.typeText {
    white-space: nowrap;
}

.typeText::after {
    content: "_";
    animation: blink 1s step-end infinite;
    animation: none;
}

.showAnim.typeText::after {
    animation: blink 1s step-end infinite;
}

#profile_badge {
    position: relative;
    width: 120px;
    height: 120px;
}

#profile_badge img {
    width: 120px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 100%;
    animation: reveal .2s normal forwards;
    opacity: 0;
    animation-delay: 2s;
}

#profile_badge .mask {
    border-radius: 50%;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0px;
    animation: mask 2s normal forwards;
    border: 60px solid var(--active);
    opacity: 0;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}