#portfolio {
    z-index: 20;
    position: relative;
    background-color: #ffffff;
    background-image: radial-gradient(var(--active) 0.75px, transparent 0.75px), radial-gradient(var(--active) 0.75px, #ffffff 0.75px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}