@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Unica+One&display=swap');
body {
    font-family: 'Anonymous Pro', monospace;
}

h1 {
    font-size: 5rem;
    line-height: 1;
    font-family: 'Unica One', cursive;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3 {
    line-height: 1.6;
}

p {
    line-height: 1.6;
}