@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;400;500&display=swap');
body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

h1 {
    font-size: 5rem;
    line-height: 1;
}

h3 {
    line-height: 1.6;
}