@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300;400;500&family=Raleway:wght@200;400;600;800;900&display=swap');
body,
h3 {
    font-family: 'Anek Tamil', monospace;
    font-weight: 300;
}

h1,
h2,
h4 {
    font-family: 'Anek Tamil', sans-serif;
    line-height: 1.1;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 2.2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.8rem;
    margin: 0;
    line-height: 1.1;
}

h4 {
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 300;
    width: fit-content;
}

h5 {
    margin: 0;
    font-weight: 300;
}

p {
    line-height: 1.4;
    margin: 0;
}